.btn-actions {
    margin: 30px 0;
    text-align: center;
}

.btn-actions .btn {
    min-width: 150px; /* Largura mínima */
    margin: 0 10px; /* Espaçamento entre os botões */
    font-size: 1rem; /* Tamanho do texto */
    padding: 10px 20px; /* Ajuste do padding */
}

.btn-detalhes {
    margin-left: 10px;
}

.btn-warning {
    background-color: #ff8800;
    border-color: #ff8800;
    color: #fff;
}
.btn-warning:hover {
    background-color: #e67600;
    border-color: #e67600;
}

.btn-info {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
}
.btn-info:hover {
    background-color: #218838;
    border-color: #218838;
}