.navbar-wrapper {
    position: fixed;
    top: 20px; /* Espaçamento entre o topo da página e a navbar */
    width: 100%;
    z-index: 1000; /* Garante que fique acima de outros elementos */
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px 20px;
    margin-top: 0.250rem;
}

.navbar-brand img {
    height: 40px;
}

.navbar-nav .nav-link {
    font-size: 1rem;
    color: #000;
    font-weight: 500;
    transition: color 0.2s ease;
    position: relative;
}

.navbar-nav .nav-item:last-child {
    margin-right: 1.125rem;
}

.navbar-nav .nav-link:hover {
    color: #006ce0;
}

.navbar-nav .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background-color: orange;
    transition: width 0.4s;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}